<p>data-binding works!</p>
<!--Angular da data binding 2 kısım olarak ayrılmaktadır
Tek Yönlü(one way) ve İki Yönlü(two way) olarak 
Tek Yönle data bingding : ikiye ayrılır html den type script katmanına ya da type scriptten html katmanına
component to dom veya dom to component denilir kavram olarak-->

<div class="row">
    <div class="col-md-12">
         <h2>One Way Binding <span style="font-size: 0.9rem;"> from Component to Dom</span></h2>
         <div class="row">
             <div class="col-md-2">
                 <h3>Interpolation</h3>
                 <!--Interpolation: Objelerdeki(data-binding.component.ts de bulunan user) datayı html e aktarma imkanı sağlar-->
                 <p> Ad : {{user.name}}, Soyad : {{user.surname}}  </p>
                 <p> Hesaplama : {{1+2}}</p>
                 <div>
                     <img 
                     height="120px" 
                     src="{{user.favorite_place_image}}" 
                     alt="favorite_place_image">
                 </div>
             </div>
             <div class="col-md-3">
                 <h3>Property Binding</h3>
                 <!--Property Binding: Html taglerimizin değelerini component ten gönderebilmeye yarar.
                [value] - köşeli paratez bu propertye data göndereceğim anlamına gelir-->
                 <input [type]="type" [value]="user.job">
             </div>
             <div class="col-md-3">
                   <h3>Attribute Binding</h3>
                   <!--Attribute Binding: Angular one way binding de componentten dom a componentin attribute ünü değiştirebilecek değeler verebilir
                   Sabit değerler vermek yerine değişkenlerle yönetim imkanı sağlıyor -->
                   <input 
                   [type]="type" 
                   [value]="user.job" 
                   [attr.disabled]="!user.isEditable ? 'disabled' : null"><!--user.isEditable true ise disabled ekle değilse null ekle-->
                   <!--attr.disabled="disabled"(sabit değer) yazılsaydı değişme durumunda bunu tetikleyemezdi bu sebeple buraya koşul koyuldu-->
             </div>
             <div class="col-md-2">
                 <h3>Class Binding</h3>
                 <!--Class Binding: Angular componentin class ındaki değerin olup olmamasına karar verebiliyor, type script üzerinden-->
                 <!--<p class="red"> Renk Değeri!!</p>-->
                 <!--Kullanıcının ismi Didem se kırmızı değilse default rengi neyse o olacak -->
                 <!--<p [class.red]="user.isEditable">Renk Değeri</p> veya -->
                 <!--<p [class.red]="!user.isEditable ? true : false">Renk Değeri</p> //boolean değer-->
                 <p [class.red]="user.name=='Didem' ? true : false">Renk Değeri</p>
             </div>
             <div class="col-md-2">
                 <h3>Style Binding</h3>
                 <!--Style Binding: stillerde de koşula göre işlem yapılması sağlanmaktadır.-->
                 <!--<p style="color : blue" >Style Color</p> -->
                 <!--Bir değere göre değişmesi için:-->
                 <p [style.color]="user.name=='Didem' ? 'orange' : 'blue'">Style Color</p>
             </div>
         </div>
    </div>

    <div class="col-md-12">
        <h2>
            One Way Binding
            <span style="font-size: 0.9rem;">from DOM to Component</span>
        </h2>
        <div class="row">
            <div class="col-md-2">
                <h3>Event Binding</h3>
                <!--Event Binding: Vereceğimiz component ten oluşacak eventi angular component in type script dosyasına haberdar edilmesi gerekiyor.
                Componentteki html deki her componentin bir eventi var ve o event ile component teki bir metod veya işlem tetiklenebiliyor.-->
                <input type="text" [value]="user.name" (keyup.enter)="inputSubmit($event)"> <!--($event) //Tetiklenen componentin eventini gönderecek-->
                <button (click)="buttonClicked();">OK!</button>
            </div>
         </div>
    </div>
<!--Two Way Binding: Hem dom dan hem componentten birbirleri arasında anlık iletişim kurabilmesini sağlar.-->
<div class="col-md-12">
    <h2>
        Two Way bingding
    </h2>
    <div class="row">
        <div class="col-md-2">
            <h3>ngModel</h3>
            <!--ngModel: Componentteki(data-binding.component.ts) değeri html deki componentin value suna eşitleyip iletişim kurdurabiliyor.
            input içerisinde yazan Didem adını sildiğimde her yerden silmiş oluyorum, tüm değerler anlık olarak değişiyor
            ngModel ile bütün property ler değişiyor, istenilen bir değeri hem componentte hem domda değiştirip diğer yerler tetiklenebilir,
            genel de formlarda kullanılır bir input değerini değiştirildiğinde kaydet e basıldığında tek tek göndermek yerine modülde veriler tutulduğu için değer alınabilir-->
            <input type="text" [(ngModel)]="user.name" />
            <p>{{user.name}}</p>
        </div>
    </div>
</div>

</div>