<div class="class" style="margin-top: 6rem !important">
    <!--fileUpload u tetikledikten sonra uploadFiles metodunu triggerlayarak servise istek atılacaktır-->
    <div class="col-md-3">
        <div class="form-group">
            <!-- #file (change) => file da change durumu olursa handleFileInput a gidecek, burada da -->
          <!--HATA ALIYORUM <input type="file" #file (change)="handleFileInput($event.target.files);"/>--> 
        </div>
        <br/>
        <button (click)="uploadFiles();">Resimleri Yükle</button>
    </div>
    <div class="col-md-8">
 
        <img *ngFor="let image if images" [src]="image.url" style="max-width: 200px !important"/>
    </div>
</div>