<div style="margin:2rem;">
    <div class="row">
        <h3 style="color: rgb(96, 9, 122);">Şehirler</h3>
        <div class="col-md-12" *ngIf="citiesData$ | async as cityNameData"> <!--async ile doğrudan html de subscribe olmuş gibi davranıyor -->
            <!--async ile gelen observable dataya subscribe olup cityNameData burada işlemleri görür-->
            <ul>
                <li *ngFor="let city of cityNameData" style="color: rgb(96, 9, 122);">
                    {{city.id}} - {{city.name}}
                </li>
            </ul>
        </div>
    </div>
  <!-- <div class="col-md-12">
        id: <br/> <input type="number" [(ngModel)]="cityId"><br />
        new name: <br/> <input type="text" [(ngModel)]="cityName"><br /><br />
        <button (click)="save()">Kaydet</button>
    </div>-->
</div>