//Değişken dosyası oluşturduk
//igx-palette örneği

$text_color: rgb(199, 50, 245);
$primary_color: rgb(221,121,7); //bu değişkenleri yazarak tüm projelere tek tek renk vermek yerine bunları kullanarak renk verebiliriz.
$secondary_color: rgb(217, 163, 248); 